<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>谷粒商城 - 让购物更简单</title>
  <link rel="stylesheet" href="/static/index/css/swiper-3.4.2.min.css">
  <link rel="stylesheet" href="/static/index/css/GL.css">
  <script src="/static/index/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/index/js/swiper-3.4.2.jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/index/js/swiper-3.4.2.min.js"></script>
</head>

<body>
<header>
  <div class="header_head">
    <div class="header_head_box">
      <a href="http://gulimall.com" class="header_head_p_a1">谷粒商城首页</a>
      <ul>
        <li>
          <a th:if="${session.loginUser == null}" href="http://auth.gulimall.com/login.html" class="li_2">你好，请登录</a>
          <a th:if="${session.loginUser != null}">欢迎, [[${session.loginUser.nickname}]]</a>
        </li>
        <li>
          <a th:if="${session.loginUser == null}" href="http://auth.gulimall.com/reg.html" class="li_2">免费注册</a>
        </li>
        <li>
          <a th:if="${session.loginUser != null}" href="http://auth.gulimall.com/logout.html" class="li_2">立即退出</a>
        </li>
        <span>|</span>
        <li>
          <a href="http://order.gulimall.com/list.html">我的订单</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header_sous">
    <div class="header_form">
      <input id="searchText" type="text" placeholder="搜索你想要的商品" />
      <a href="javascript:search();">搜索</a>
    </div>
    <div class="header_ico">
      <div class="header_gw">
        <span><a href="http://cart.gulimall.com/cart.html">我的购物车</a></span>
        <span>0</span>
      </div>
    </div>
  </div>

  <!--轮播主体内容-->
  <div class="header_main">
    <div class="header_banner">
      <div class="header_main_left">
        <ul>
          <li th:each="category : ${categories}">
            <a href="#" class="header_main_left_a" th:attr="ctg-data = ${category.catId}"><b th:text="${category.name}">家用电器</b></a>
          </li>
        </ul>
      </div>
      <div class="header_main_center">
        <div class="swiper-container swiper1">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#"><img src="/static/index/img/lunbo.png" /></a>
            </div>
            <div class="swiper-slide">
              <a href="#"><img src="/static/index/img/lunbo3.png" /></a>
            </div>
            <div class="swiper-slide">
              <a href="#"><img src="/static/index/img/lunbo6.png" /></a>
            </div>
            <div class="swiper-slide">
              <a href="#"><img src="/static/index/img/lunbo7.png" /></a>
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next swiper-button-white"></div>
          <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        <div class="header_main_center_b">
          <a href="#"><img src="/static/index/img/5a13bf0bNe1606e58.jpg" /></a>
          <a href="#"><img src="/static/index/img/5a154759N5385d5d6.jpg" /></a>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="section_second">
  <!--秒杀专区-->
  <div class="section_second_header">
    <div class="section_second_header_left">
      <p></p>
      <span>限时秒杀</span>
      <span>总有你想不到的低价</span>
      <span></span>
    </div>
    <div class="section_second_header_right">
      <p>当前场次</p>
      <span class="section_second_header_right_hours">00</span>
      <span class="section_second_header_right_mao">：</span>
      <span class="section_second_header_right_minutes">00</span>
      <span class="section_second_header_right_mao">：</span>
      <span class="section_second_header_right_second">00</span>
      <p>后结束</p>
    </div>
  </div>
  <div class="section_second_list">
    <div class="swiper-container swiper_section_second_list_left">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <ul id="seckillSkuContent"></ul>
        </div>
      </div>
      <div class="swiper-button-prev second_list"><p></p></div>
      <div class="swiper-button-next second_list"><p></p></div>
    </div>
  </div>
</div>

</body>
<script type="text/javascript">
  var searchHost = "http://search.gulimall.com";

  function search() {
    var keyword = $("#searchText").val().trim();
    if (!keyword) {
      alert("请输入搜索关键词");
      return;
    }
    window.location.href = searchHost + "/list.html?keyword=" + encodeURIComponent(keyword);
  }

  $.get("http://seckill.gulimall.com/getCurrentSeckillSkus", function (res) {
    if (res && res.data && res.data.length > 0) {
      res.data.forEach(function (item) {
        if (item && item.skuInfo) {
          $("<li onclick='toDetail(" + item.skuId + ")'></li>")
                  .append($("<img style='width: 130px; height: 130px' />").attr("src", item.skuInfo.skuDefaultImg))
                  .append($("<p></p>").text(item.skuInfo.skuTitle))
                  .append($("<span></span>").text("￥" + item.seckillPrice))
                  .append($("<s></s>").text("￥" + item.skuInfo.price))
                  .appendTo("#seckillSkuContent");
        }
      });
    }
  }).fail(function() {
    // 秒杀服务不可用时静默处理，不影响页面其他功能
    console.log("秒杀服务暂时不可用");
  });

  function toDetail(skuId) {
    location.href = "http://item.gulimall.com/" + skuId + ".html";
  }

  $(document).ready(function() {
    $("#searchText").keypress(function(e) {
      if (e.which == 13) {
        search();
      }
    });
  });

</script>
<script type="text/javascript" src="/static/index/js/index.js"></script>
<script type="text/javascript" src="/static/index/js/catalogLoader.js"></script>
</html>
