<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/search/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/search/font/iconfont.css">
    <script src="/static/search/js/jquery-1.12.4.js"></script>
    <title>搜索结果 - 谷粒商城</title>
</head>
<body>
<div class="header_head">
    <div class="header_head_box">
        <a href="http://gulimall.com" class="header_head_p_a1">谷粒商城首页</a>
        <ul>
            <li>
                <a th:if="${session.loginUser == null}" href="http://auth.gulimall.com/login.html" class="li_2">你好，请登录</a>
                <a th:if="${session.loginUser != null}">欢迎, [[${session.loginUser.nickname}]]</a>
            </li>
            <li>
                <a th:if="${session.loginUser == null}" href="http://auth.gulimall.com/reg.html" class="li_2">免费注册</a>
            </li>
            <span>|</span>
            <li>
                <a href="http://order.gulimall.com/list.html">我的订单</a>
            </li>
        </ul>
    </div>
</div>

<div class="header_sous">
    <div class="logo">
        <a href="http://gulimall.com"><img src="/static/search/image/logo1.jpg" alt="谷粒商城"></a>
    </div>
    <div class="header_form">
        <input id="keyword_input" type="text" placeholder="搜索你想要的商品" th:value="${param.keyword}"/>
        <a href="javascript:searchByKeyword()">搜索</a>
    </div>
    <div class="header_ico">
        <div class="header_gw">
            <span><a href="http://cart.gulimall.com/cart.html">我的购物车</a></span>
            <span>0</span>
        </div>
    </div>
</div>

<div class="JD_ipone">
    <div class="JD_ipone_bar">
        <div class="JD_ipone_one c">
            <a th:href="${nav.link}" th:each="nav:${result.navs}"><span th:text="${nav.navName}"></span>：<span th:text="${nav.navValue}"></span> x</a>
        </div>
    </div>
</div>

<div class="JD_banner w">
    <div class="JD_nav">
        <div class="JD_selector">
            <div class="title">
                <h3><b>商品</b><em>商品筛选</em></h3>
                <div class="st-ext">共&nbsp;<span th:text="${result.total}">0</span>个商品</div>
            </div>
            <div class="JD_nav_logo">
                <div class="JD_nav_wrap">
                    <div class="sl_key">
                        <span><b>品牌：</b></span>
                    </div>
                    <div class="sl_value">
                        <div class="sl_value_logo">
                            <ul>
                                <li th:each="brand : ${result.brands}">
                                    <a href="#"
                                       th:href="${'javascript:searchProducts(&quot;brandId&quot;,'+brand.brandId+')'}">
                                        <img th:src="${brand.brandImg}" alt="">
                                        <div th:text="${brand.brandName}">
                                            华为(HUAWEI)
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="JD_pre">
                    <div class="sl_key">
                        <span><b>分类：</b></span>
                    </div>
                    <div class="sl_value">
                        <ul>
                            <li th:each="catalog : ${result.catalogs}">
                                <a href="#"
                                   th:href="${'javascript:searchProducts(&quot;catalog3Id&quot;,'+catalog.catalogId+')'}"
                                   th:text="${catalog.catalogName}">5.56英寸及以上

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="JD_pre" th:each="attr : ${result.attrs}">
                    <div class="sl_key">
                        <span th:text="${attr.attrName}">屏幕尺寸：</span>
                    </div>
                    <div class="sl_value">
                        <ul>
                            <li th:each="attrValue : ${attr.attrValue}">
                                <a href="#"
                                   th:href="${'javascript:searchProducts(&quot;attrs&quot;,&quot;'+attr.attrId+'_'+attrValue+'&quot;)'}"
                                   th:text="${attrValue}">5.56英寸及以上
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="JD_show">
                <a href="#">
                    <span>
                        更多选项
                    </span>
                </a>
            </div>
        </div>
        <div class="JD_banner_main">
            <div class="JD_con_right">
                <div class="filter">
                    <div class="filter_top">
                        <div class="filter_top_left" th:with="p = ${param.sort}, priceRange = ${param.skuPrice}">
                            <a sort="hotScore"
                               th:class="${(!#strings.isEmpty(p) && #strings.startsWith(p,'hotScore') && #strings.endsWith(p,'desc')) ? 'sort_a desc' : 'sort_a'}"
                               th:attr="style=${(#strings.isEmpty(p) || #strings.startsWith(p,'hotScore')) ?
                                   'color: #fff; border-color: #e4393c; background: #e4393c;':'color: #333; border-color: #ccc; background: #fff;' }">
                                综合排序[[${(!#strings.isEmpty(p) && #strings.startsWith(p,'hotScore') &&
                                #strings.endsWith(p,'desc')) ?'↑':'↓' }]]</a>
                            <a sort="saleCount"
                               th:class="${(!#strings.isEmpty(p) && #strings.startsWith(p,'saleCount') && #strings.endsWith(p,'desc')) ? 'sort_a desc' : 'sort_a'}"
                               th:attr="style=${(!#strings.isEmpty(p) && #strings.startsWith(p,'saleCount')) ?
                                   'color: #fff; border-color: #e4393c; background: #e4393c;':'color: #333; border-color: #ccc; background: #fff;' }">
                                销量[[${(!#strings.isEmpty(p) && #strings.startsWith(p,'saleCount') &&
                                #strings.endsWith(p,'desc'))?'↑':'↓' }]]</a>
                            <a sort="skuPrice"
                               th:class="${(!#strings.isEmpty(p) && #strings.startsWith(p,'skuPrice') && #strings.endsWith(p,'desc')) ? 'sort_a desc' : 'sort_a'}"
                               th:attr="style=${(!#strings.isEmpty(p) && #strings.startsWith(p,'skuPrice')) ?
                                   'color: #fff; border-color: #e4393c; background: #e4393c;':'color: #333; border-color: #ccc; background: #fff;' }">
                                价格[[${(!#strings.isEmpty(p) && #strings.startsWith(p,'skuPrice') &&
                                #strings.endsWith(p,'desc'))?'↑':'↓' }]]</a>
                            <a sort="hotScore" class="sort_a">评论分</a>
                            <a sort="createTime" class="sort_a">上架时间</a>
                            <input id="skuPriceFrom" type="number"
                                   th:value="${#strings.isEmpty(priceRange)?'':#strings.substringBefore(priceRange,'_')}"
                                   style="width: 100px; margin-left: 30px">
                            -
                            <input id="skuPriceTo" type="number"
                                   th:value="${#strings.isEmpty(priceRange)?'':#strings.substringAfter(priceRange,'_')}"
                                   style="width: 100px">
                            <button id="skuPriceSearchBtn">确定</button>
                        </div>
                        <div class="filter_top_right">
                            <span class="fp-text">
                               <b th:text="${result.pageNum}">1</b><em>/</em><i th:text="${result.totalPages}">1</i>
                           </span>
                            <a href="javascript:;" class="prev" th:if="${result.pageNum > 1}" onclick="searchProducts('pageNum', ${result.pageNum - 1})"><</a>
                            <a href="javascript:;" class="next" th:if="${result.pageNum < result.totalPages}" onclick="searchProducts('pageNum', ${result.pageNum + 1})"> ></a>
                        </div>
                    </div>
                    <div class="filter_bottom">
                        <div class="filter_bottom_right">
                            <ul>
                                <li>
                                    <a th:with="check = ${param.hasStock}">
                                        <input id="showHasStock" type="checkbox" th:checked="${#strings.equals(check,'1')?true:false}">
                                        仅显示有货
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="rig_tab">
                        <div th:each="product : ${result.getProduct()}">
                            <div class="ico">
                                <i class="iconfont icon-weiguanzhu"></i>
                                <a href="#">关注</a>
                            </div>
                            <p class="da">
                                <a th:href="|http://item.gulimall.com/${product.skuId}.html|" >
                                    <img class="dim" th:src="${product.skuImg}">
                                </a>
                            </p>
                            <p class="tab_R">
                                <span th:text="'￥' + ${product.skuPrice}">¥5199.00</span>
                            </p>
                            <p class="tab_JE">
                                <a th:href="|http://item.gulimall.com/${product.skuId}.html|" th:utext="${product.skuTitle}">
                                    Apple iPhone 7 Plus (A1661) 32G 黑色 移动联通电信4G手机
                                </a>
                            </p>
                            <div class="tab_FO">
                                <div class="FO_one">
                                    <p>自营<span>谷粒商城自营,品质保证</span></p>
                                    <p>满赠<span>该商品参加满赠活动</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter_page">
                        <div class="page_wrap">
                            <span class="page_span1">
                                <a class="page_a" th:attr="pn=${result.pageNum - 1}" href="#"
                                   th:if="${result.pageNum>1}">
                                    < 上一页
                                </a>
                                <a class="page_a"
                                   th:attr="pn=${navs},style=${navs == result.pageNum?'border: 0;color:#ee2222;background: #fff':''}"
                                   th:each="navs : ${result.pageNavs}">[[${navs}]]</a>
                                <a class="page_a" th:attr="pn=${result.pageNum + 1}"
                                   th:if="${result.pageNum<result.totalPages}">
                                    下一页 >
                                </a>
                            </span>
                            <span class="page_span2">
                                <em>共<b>[[${result.totalPages}]]</b>页&nbsp;&nbsp;到第</em>
                                <input type="number" value="1">
                                <em>页</em>
                                <a class="page_submit">确定</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var $li = $(".JD_nav_logo>div:gt(3)").hide();
    $('.JD_show span').click(function () {
        if ($li.is(':hidden')) {
            $li.show();
            $(this).css({width: "86px"}).text('收起 ^');
        } else {
            $li.hide();
            $('.JD_show span').css({width: "291px"}).text('更多选项');
        }
        return false;
    });

    function searchProducts(name, value) {
        // 单值参数使用替换（forceAdd=false），多值参数使用追加（forceAdd=true）
        var multiValueParams = ["attrs", "brandId"];
        var forceAdd = multiValueParams.indexOf(name) !== -1;
        location.href = replaceParamVal(location.href, name, value, forceAdd);
    }

    function searchByKeyword() {
        searchProducts("keyword", encodeURIComponent($("#keyword_input").val()));
    }

    $(".page_a").click(function () {
        var pn = $(this).attr("pn");
        var href = location.href;
        if (href.indexOf("pageNum") != -1) {
            location.href = replaceParamVal(href, "pageNum", pn);
        } else {
            location.href = href + (href.indexOf("?") != -1 ? "&" : "?") + "pageNum=" + pn;
        }
        return false;
    })

    function replaceParamVal(url, paramName, replaceVal,forceAdd) {
        var oUrl = url.toString();
        var nUrl;
        if (oUrl.indexOf(paramName) != -1) {
            if( forceAdd ) {
                if (oUrl.indexOf("?") != -1) {
                    nUrl = oUrl + "&" + paramName + "=" + replaceVal;
                } else {
                    nUrl = oUrl + "?" + paramName + "=" + replaceVal;
                }
            } else {
                var re = new RegExp('(' + paramName + '=)([^&]*)', 'gi');
                nUrl = oUrl.replace(re, paramName + '=' + replaceVal);
            }
        } else {
            if (oUrl.indexOf("?") != -1) {
                nUrl = oUrl + "&" + paramName + "=" + replaceVal;
            } else {
                nUrl = oUrl + "?" + paramName + "=" + replaceVal;
            }
        }
        return nUrl;
    };

    $(".sort_a").click(function () {
        changeStyle(this);
        let sort = $(this).attr("sort");
        sort = $(this).hasClass("desc") ? sort + "_desc" : sort + "_asc";
        location.href = replaceParamVal(location.href, "sort", sort,false);

        return false;
    });

    function changeStyle(ele) {
        $(".sort_a").css({"color": "#333", "border-color": "#ccc", "background": "#fff"});
        $(".sort_a").each(function () {
            let text = $(this).text().replace("↓", "").replace("↑", "");
            $(this).text(text);
        })

        $(ele).css({"color": "#FFF", "border-color": "#e4393c", "background": "#e4393c"});
        $(ele).toggleClass("desc");

        if ($(ele).hasClass("desc")) {
            let text = $(ele).text().replace("↓", "").replace("↑", "");
            text = text + "↓";
            $(ele).text(text);
        } else {
            let text = $(ele).text().replace("↓", "").replace("↑", "");
            text = text + "↑";
            $(ele).text(text);
        }
    };

    $("#skuPriceSearchBtn").click(function () {
        let from = $(`#skuPriceFrom`).val();
        let to = $(`#skuPriceTo`).val();

        let query = from + "_" + to;
        location.href = replaceParamVal(location.href, "skuPrice", query,false);
    });

    $("#showHasStock").change(function () {
        if ($(this).prop("checked")) {
            location.href = replaceParamVal(location.href, "hasStock", 1, false);
        } else {
            var re = new RegExp("(hasStock=)([^&]*)", "gi");
            var newUrl = (location.href + "").replace(re, "");
            // 清理残留的 & 符号
            newUrl = newUrl.replace("&&", "&").replace("?&", "?").replace(/&$/, "");
            location.href = newUrl;
        }
    });

</script>
</body>
</html>
